@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .focus {
    @apply focus:border-themeColor focus:border-[1.5px];
  }
}
.HeaderImage {
  position: relative;
  margin-top: -5px;
  max-width: 70px;
  height: auto;
  overflow: hidden;
}

.HeaderImage-img {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

.Header-businessLink-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  transition: transform 1s ease;
  color: #333; /* Adjust color as needed */
  font-size: 14px; /* Match font size */
  font-weight: 500;
  pointer-events: none;
}

.HeaderImage:hover .HeaderImage-img {
  opacity: 0;
}

.HeaderImage:hover .Header-businessLink-label {
  opacity: 1;
  display: block;
}
.PhoneInputCountryIconImg {
  width: 20px;
  height: auto;
}

.custom-select {
  position: relative;
}

.custom-select::after {
  content: "▼"; /* This is the down arrow */
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #6b7280; /* Adjust the arrow color */
  pointer-events: none; /* Ensure the arrow doesn't block user interaction */
}
